Repository co-station-devs/Co.Station: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        # target: 50%
        flags: frontend
      backend:
        # target: 50%
        flags: backend

flags:
  backend:
    paths:
      - server/
  frontend:
    paths:
      - src/

ignore:
   - "src/**/*.module.{ts,js}"
   - "src/**/*.constant.{ts,js}"
   - "src/**/config/**/*.{ts,js}"
   - "src/**/*.routes.{ts,js}"
   - "src/**/*.model.{ts,js}"
   - "src/**/*index.{ts,js}"
   - "src/*.ts"
   - "src/environments/*.{ts,js}"
   - "src/jest/*.{ts,js}"
   - "src/app/xml-typings.d.ts"

Final answers
  src/app/chat/components/final-answer/params-parser.model.ts
Due: none

no message
  src/app/chat/components/final-answer/final-answer.component.html
  src/app/chat/components/final-answer/final-answer.component.ts
  src/app/chat/components/final-answer/params-parser.model.ts
Due: frontend

Removing dubble assignment
  src/app/chat/components/final-answer/params-parser.model.ts
Due: none

Final-answer
  server.js
  server/timecredit/timecredit.controller.js
  server/timecredit/timecredit.model.js
  server/timecredit/timecredit.route.js
  server/timecredit/timecredit.service.js
  src/app/chat/chat.module.ts
  src/app/chat/components/final-answer/final-answer.component.html
  src/app/chat/components/final-answer/final-answer.component.ts
  src/app/chat/components/response/response.component.ts
  src/app/user/models/timecredit.model.ts
  src/app/user/services/time-credit.service.spec.ts
  src/app/user/services/time-credit.service.ts
Due: backend, frontend

no message
  src/app/landing/intranet/intranet.component.html
  src/app/landing/intranet/intranet.component.scss
  src/app/landing/intranet/intranet.component.spec.ts
  src/app/landing/intranet/intranet.component.ts
  src/app/landing/landing.module.ts
Due: frontend

Routing
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/chat/chat.module.ts
Due: frontend

Testing
  src/app/chat/components/final-answer/final-answer.component.spec.ts
  src/app/chat/components/response/response.component.shallow.spec.ts
  src/app/chat/pages/chat/chat.component.shallow.spec.ts
  src/app/user/services/time-credit.service.spec.ts
Due: frontend

Fix for moment in frontend
  src/app/chat/components/final-answer/params-parser.model.ts
Due: none

Fixing speech
  server/speech/speech.controller.js
  src/app/chat/components/response/response.component.shallow.spec.ts
Due: backend, frontend

Added seed controller for time-credit
  server/timecredit/timecredit.controller.js
  server/timecredit/timecredit.route.js
Due: backend

Fix user creation
  server/user/user.controller.js
  server/user/user.service.js
Due: backend

added final card update
  server/assistant/assistant.service.js
  src/app/chat/components/final-answer/final-answer.component.ts
  src/app/chat/components/final-answer/params-parser.model.ts
Due: backend, frontend

assistant service revert
  server/assistant/assistant.service.js
Due: backend

Searching header
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
  server/chat/chat.route.js
  server/chat/chat.service.js
  server/hrx/hrx.service.js
  server/timecredit/timecredit.service.js
  server/user/user.service.js
  src/app/app.component.html
  src/app/app.component.ts
  src/app/chat/chat.module.ts
  src/app/chat/services/chat.service.ts
  src/app/landing/landing.module.ts
Due: backend, frontend

Improvements
  server/chat/chat.controller.js
  src/app/app.component.ts
  src/app/chat/chat.module.ts
  src/app/chat/components/response/response.component.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/chat/pages/chat/chat.component.ts
Due: backend, frontend

Fix testin
  src/app/app.conponent.isolated.spec.ts
  src/app/chat/components/response/response.component.isolated.spec.ts
  src/app/chat/pages/chat/chat.component.shallow.spec.ts
Due: frontend

Final card
  server/timecredit/timecredit.model.js
  server/timecredit/timecredit.service.js
  src/app/chat/components/final-answer/final-answer.component.html
  src/app/chat/components/final-answer/final-answer.component.scss
  src/app/chat/components/final-answer/final-answer.component.ts
  src/app/chat/pages/chat/chat.component.ts
  src/app/user/models/timecredit.model.ts
Due: backend, frontend

Fixes
  src/app/chat/components/response/response.component.html
  src/app/chat/components/response/response.component.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/landing/search/search.component.html
  src/app/landing/search/search.component.scss
  src/app/landing/search/search.component.spec.ts
  src/app/landing/search/search.component.ts
  src/app/user/models/user.model.ts
Due: frontend

Fixes
  server/user/user.service.js
Due: backend

Sorting correct?
  src/app/chat/pages/chat/chat.component.ts
Due: frontend

paging fix
  server/chat/chat.controller.js
  src/app/chat/pages/chat/chat.component.ts
Due: backend, frontend
