Repository co-station-devs/Co.Station: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      frontend:
        # target: 50%
        flags: frontend
      backend:
        # target: 50%
        flags: backend

flags:
  backend:
    paths:
      - server/
  frontend:
    paths:
      - src/

Fix for routing
  server.js
Due: none

Fixing routing files
  server.js
Due: none

Setting credentials for google
  server/assistant/assistant.service.js
Due: backend

added google cloud translations api + callback
  package-lock.json
  package.json
  server/assistant/assistant.service.js
Due: backend

fixed api key
  server/assistant/assistant.service.js
Due: backend

Scrollable chat
  server/chat/chat.controller.js
  server/user/user.model.js
  src/app/_shared/models/mongo-base.ts
  src/app/chat/chat.module.ts
  src/app/chat/components/response/response.component.html
  src/app/chat/components/response/response.component.scss
  src/app/chat/components/response/response.component.spec.ts
  src/app/chat/components/response/response.component.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/chat/pages/chat/chat.component.scss
  src/app/chat/pages/chat/chat.component.ts
  src/app/user/models/user.model.ts
Due: backend, frontend

Showing payload
  server/chat/chat.model.js
  src/app/chat/components/response/response.component.html
  src/app/chat/models/chat.model.ts
Due: backend, frontend

Translations + awaiting instead of .then()
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
  src/app/chat/components/response/response.component.html
Due: backend, frontend

Testing should work now
  src/app/chat/components/response/response.component.spec.ts
  src/app/chat/pages/chat/chat.component.shallow.spec.ts
Due: frontend

Payload is now saved as string, and parsed again on client to fix issues on mongo
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
  server/chat/chat.service.js
  src/app/chat/components/response/response.component.html
  src/app/chat/components/response/response.component.ts
Due: backend, frontend

Testing everything
  server/assistant/assistant.service.js
  server/chat/chat.model.js
  src/app/chat/components/response/response.component.html
  src/app/chat/components/response/response.component.isolated.spec.ts
  src/app/chat/components/response/response.component.scss
  src/app/chat/components/response/response.component.shallow.spec.ts
  src/app/chat/components/response/response.component.ts
  src/app/chat/models/chat.model.ts
Due: backend, frontend

More testing :)
  src/app/_shared/components/user-table/user-table.component.html
  src/app/_shared/components/user-table/user-table.component.scss
  src/app/_shared/components/user-table/user-table.component.shallow.spec.ts
  src/app/_shared/components/user-table/user-table.component.ts
  src/app/_shared/services/base.service.isolated.spec.ts
  src/app/_shared/services/base.service.ts
  src/app/_shared/shared.module.ts
  src/app/app.conponent.isolated.spec.ts
  src/app/chat/components/response/response.component.isolated.spec.ts
  src/app/chat/components/response/response.component.shallow.spec.ts
  src/app/chat/pages/chat/chat.component.shallow.spec.ts
  src/app/chat/services/chat.service.isolated.spec.ts
  src/app/user/components/user-form-general/user-form-general.component.isolated.spec.ts
  src/app/user/pages/user-create/user-create.component.spec.ts
  src/app/user/pages/user-detail/user-detail.component.html
  src/app/user/pages/user-detail/user-detail.component.isolated.spec.ts
  src/app/user/pages/user-detail/user-detail.component.ts
  src/app/user/pages/user-edit/user-edit.component.isolated.spec.ts
  src/app/user/pages/user-edit/user-edit.component.spec.ts
  src/app/user/pages/user-edit/user-edit.component.ts
  src/app/user/pages/user-list/user-list.component.isolated.spec.ts
  src/app/user/pages/user-list/user-list.component.spec.ts
  src/app/user/services/hrx.service.isolated.spec.ts
  src/app/user/services/user.service.isolated.spec.ts
  src/jest/jest.config.json
  src/models/mongo.list.response.model.ts
  src/models/mongo.response.model.ts
Due: frontend

tesing new codecov
  .travis.yml
  codecov.yml
Due: none

Speech sockets
  package-lock.json
  package.json
  server.js
  server/translation/translate.controller.js
  server/translation/translate.service.js
  src/app/_shared/shared.module.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/chat/pages/chat/chat.component.ts
Due: backend, frontend

Speech services
  server.js
  server/assistant/assistant.service.js
  server/speech/speech.controller.js
  server/speech/speech.service.js
  server/translation/translate.controller.js
  server/translation/translate.service.js
  src/app/_shared/services/base.service.ts
  src/app/_shared/services/speech.service.spec.ts
  src/app/_shared/services/speech.service.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/chat/pages/chat/chat.component.scss
  src/app/chat/pages/chat/chat.component.ts
Due: backend, frontend

HRX models
  server/hrx/hrx.model.js
  server/hrx/hrx.service.js
  server/user/user.model.js
  server/user/user.service.js
Due: backend

Search for amei + user-form updated
  server/hrx/hrx.service.js
  src/app/user/components/user-form-general/user-form-general.component.html
Due: backend, frontend

Letting tests get trough
  src/app/_shared/services/speech.service.spec.ts
  src/app/_shared/services/speech.service.ts
  src/app/chat/pages/chat/chat.component.shallow.spec.ts
Due: frontend

Find for amei
  server/hrx/hrx.service.js
Due: backend

Fixing speechservice
  src/app/_shared/services/speech.service.ts
Due: frontend

More for amei
  server/hrx/hrx.service.js
Due: backend

Credentials fixing
  server/assistant/assistant.service.js
  server/speech/speech.service.js
Due: backend

Testing stuff
  src/app/chat/pages/chat/chat.component.ts
  src/app/user/components/user-form-general/user-form-general.component.html
Due: frontend

Fixing conversation problems
  src/app/chat/pages/chat/chat.component.ts
Due: frontend

HRX upgrade
  CODE_OF_CONDUCT.md
  package-lock.json
  package.json
  server/hrx/hrx.model.js
  server/hrx/hrx.service.js
  server/user/user.controller.js
  server/user/user.model.js
  server/user/user.service.js
  src/app/_shared/services/base.service.ts
  src/app/app.module.ts
  src/app/user/components/user-form-general/user-form-general.component.html
  src/app/user/models/hrx.model.ts
  src/app/user/models/user.model.ts
  src/app/user/pages/user-detail/user-detail.component.html
  src/app/user/services/user.service.ts
Due: backend, frontend

Change years to more correct name
  server/hrx/hrx.model.js
  server/hrx/hrx.service.js
  src/app/user/components/user-form-general/user-form-general.component.html
  src/app/user/models/hrx.model.ts
  src/app/user/pages/user-detail/user-detail.component.html
Due: backend, frontend

Change years to more correct name
  src/app/user/components/user-form-general/user-form-general.component.html
Due: frontend

Removing unneeded console.logs
  src/app/_shared/services/speech.service.ts
  src/app/user/models/hrx.model.ts
Due: frontend

Making speech only for current tab
  server/chat/chat.controller.js
  server/speech/speech.controller.js
  server/speech/speech.service.js
  src/app/_shared/services/speech.service.ts
  src/app/chat/pages/chat/chat.component.ts
  src/app/chat/services/chat.service.ts
Due: backend, frontend

Unique chat sessions for each user
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
Due: backend

"Fixing" tests
  src/app/_shared/services/speech.service.spec.ts
Due: frontend

Logging changes
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
Due: backend

Showing card when finished
  src/app/chat/chat.module.ts
  src/app/chat/components/final-answer/final-answer.component.html
  src/app/chat/components/final-answer/final-answer.component.scss
  src/app/chat/components/final-answer/final-answer.component.spec.ts
  src/app/chat/components/final-answer/final-answer.component.ts
  src/app/chat/components/response/response.component.html
  src/app/chat/components/response/response.component.ts
  src/app/chat/pages/chat/chat.component.html
  src/app/chat/pages/chat/chat.component.ts
Due: frontend

Language selection + fix placeholder replacement
  server/assistant/assistant.service.js
  server/chat/chat.controller.js
  server/speech/speech.controller.js
  server/user/user.controller.js
  server/user/user.model.js
  server/user/user.service.js
  src/app/user/components/user-form-general/user-form-general.component.html
Due: backend, frontend
